---
# Site Management Playbook
# This playbook demonstrates the new configure/deconfigure behavior

- name: Site Management Operations
  hosts: localhost
  connection: local
  gather_facts: false
  vars:
    #graphiant_host: "https://api.graphiant.com"
    #graphiant_username: "{{ vault_graphiant_username }}"
    #graphiant_password: "{{ vault_graphiant_password }}"
    
    # Use YAML anchors to avoid repetition
    graphiant_client_params: &graphiant_client_params
      host: "{{ graphiant_host | default(lookup('env', 'GRAPHIANT_HOST')) }}"
      username: "{{ graphiant_username | default(lookup('env', 'GRAPHIANT_USERNAME')) }}"
      password: "{{ graphiant_password | default(lookup('env', 'GRAPHIANT_PASSWORD')) }}"
      #host: "{{ graphiant_host | default(lookup('ini', 'url file=/absolute/path/test/test.ini section=host')) }}"
      #username: "{{ graphiant_username | default(lookup('ini', 'username file=/absolute/path/test/test.ini section=credentials')) }}"
      #password: "{{ graphiant_password | default(lookup('ini', 'password file=/absolute/path/test/test.ini section=credentials')) }}"

  tasks:
    - name: Configure Sites (Create Sites)
      graphiant.graphiant_playbooks.graphiant_sites:
        <<: *graphiant_client_params
        site_config_file: "sample_sites.yaml"
        operation: "configure_sites"
        detailed_logs: true
        state: present
      register: configure_result
      
    - name: Display Configure Result
      debug:
        msg: "{{ configure_result.msg }}"

    - name: Configure Global LAN Segments
      graphiant.graphiant_playbooks.graphiant_global_config:
        <<: *graphiant_client_params
        config_file: "sample_global_lan_segments.yaml"
        operation: "configure_lan_segments"
        detailed_logs: true  # Enable detailed logging to see library operations
        state: present
      register: configure_result

    - name: Display Configuration Results
      debug:
        msg: "{{ configure_result.msg }}"

    - name: Configure global SNMP service system objects
      graphiant.graphiant_playbooks.graphiant_global_config:
        <<: *graphiant_client_params
        config_file: "sample_global_snmp_services.yaml"
        operation: "configure_snmp_services"
        state: present
      register: configure_result
      tags: ['global_config', 'snmp']

    - name: Display Configuration Results
      debug:
        msg: "{{ configure_result.msg }}"

    - name: Attach Objects to Sites
      graphiant.graphiant_playbooks.graphiant_sites:
        <<: *graphiant_client_params
        site_config_file: "sample_sites.yaml"
        operation: "attach_objects"
        detailed_logs: true
        state: present
      register: attach_result
      
    - name: Display Attach Result
      debug:
        msg: "{{ attach_result.msg }}"

    - name: Configure Sites (Create Sites + Attach Objects)
      graphiant.graphiant_playbooks.graphiant_sites:
        <<: *graphiant_client_params
        site_config_file: "sample_sites.yaml"
        operation: "configure"
        detailed_logs: true
        state: present
      register: configure_result
      
    - name: Display Configure Result
      debug:
        msg: "{{ configure_result.msg }}"

    - name: Detach Objects from Sites
      graphiant.graphiant_playbooks.graphiant_sites:
        <<: *graphiant_client_params
        site_config_file: "sample_sites.yaml"
        operation: "detach_objects"
        detailed_logs: true
        state: present
      register: detach_result
      
    - name: Display Detach Result
      debug:
        msg: "{{ detach_result.msg }}"
        
    - name: Deconfigure Sites (Detach Objects + Delete Sites)
      graphiant.graphiant_playbooks.graphiant_sites:
        <<: *graphiant_client_params
        site_config_file: "sample_sites.yaml"
        operation: "deconfigure"
        detailed_logs: true
        state: absent
      register: deconfigure_result
      
    - name: Display Deconfigure Result
      debug:
        msg: "{{ deconfigure_result.msg }}"

    - name: Configure Sites (Create Sites)
      graphiant.graphiant_playbooks.graphiant_sites:
        <<: *graphiant_client_params
        site_config_file: "sample_sites.yaml"
        operation: "configure_sites"
        detailed_logs: true
        state: present
      register: configure_result
      
    - name: Display Configure Result
      debug:
        msg: "{{ configure_result.msg }}"
