---
- name: Data Exchange Proxy Tenant Prerequisites
  hosts: localhost
  gather_facts: false
  vars:
    # graphiant_host: "https://api.graphiant.com"
    # graphiant_username: "{{ vault_graphiant_username }}"
    # graphiant_password: "{{ vault_graphiant_password }}"

    # Use YAML anchors to avoid repetition
    graphiant_client_params: &graphiant_client_params
      host: "{{ graphiant_host | default(lookup('env', 'GRAPHIANT_HOST')) }}"
      username: "{{ graphiant_username | default(lookup('env', 'GRAPHIANT_USERNAME')) }}"
      password: "{{ graphiant_password | default(lookup('env', 'GRAPHIANT_PASSWORD')) }}"
      # host: "{{ graphiant_host | default(lookup('ini', 'url file=/absolute/path/test/test.ini section=host')) }}"
      # username: "{{ graphiant_username | default(lookup('ini', 'username file=/absolute/path/test/test.ini section=credentials')) }}"
      # password: "{{ graphiant_password | default(lookup('ini', 'password file=/absolute/path/test/test.ini section=credentials')) }}"

  tasks:
    - name: Configure LAN interfaces for producer edge devices
      graphiant.graphiant_playbooks.graphiant_interfaces:
        <<: *graphiant_client_params
        interface_config_file: "de_workflows_configs/sample_edge_lan_interfaces_config.yaml"
        operation: "configure_lan_interfaces"
        detailed_logs: true
        state: present
      tags: ['prerequisites', 'interfaces', 'lan']
      register: configure_lan_interfaces_result

    - name: Display LAN Interface Configuration Results
      ansible.builtin.debug:
        msg: "{{ configure_lan_interfaces_result.msg }}"
